#recipeTitle_ {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

#recipeTags{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: italic;
}

.modifiedFont_{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
 

